if((int)BANISH_D->query_ban_site_time(query_ip_number(this_player())) > 0) {
  if((int)BANISH_D->query_ban_site_time(query_ip_number(this_player())) < time()) {
    BANISH_D->unbanish_site(query_ip_number(this_player()));
  }
}

if(BANISH_D -> check_banned_site(query_ip_number(this_player()))) {
  write("Your site has been replaced from our services. ("+
  BANISH_D -> query_sreason(query_ip_number(this_player())) +")\n");
  destruct(this_player());
  return 0;
}
